[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2.1"
dj-database-url = "~=0.5"
psycopg2 = "~=2.9"
requests = "*"
gunicorn = "~=20.1"
whitenoise = "~=5.3.0"
django-summernote = "~=0.8.20.0"
django-allauth = "~=0.57.0"
django-crispy-forms = "~=2.0"
crispy-bootstrap5 = "~=0.7"

[dev-packages]

[requires]
python_version = "3.11"
