ul {
    list-style-position: inside;
}

.banner {
    background-image: url(../assets/beer-banner.jpg);
    background-size: auto;
}

.beer-img {
    padding-top: 10px;
    height: 300px;
    object-fit: contain;
}

.btn-signup {
    background-color: #946B5F;
    color: #EEEDE7;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #212529;
    color: #EEEDE7;
}

.page-link {
    margin: 0 5px 0 5px;
    text-decoration: none;
}

.card a {
    text-decoration: none;
}