hr {
    margin-top: 10px;
}

ul {
    list-style-position: inside;
}

.banner {
    background-image: url(../assets/beer-banner.jpg);
    background-size: auto;
}

.beer-img {
    padding-top: 10px;
    height: 300px;
    object-fit: contain;
}

.container {
    margin-top: 10px;
}

.page-link {
    margin: 0 5px 0 5px;
    text-decoration: none;
}