{% extends "base.html" %}
{ load static }

{% block content %}
<div class="navbar navbar-expand-lg bg-dark justify-content-center">
    <span class="mx-3 text-light">Search for Users: </span>
    <div class="mx-3">
        <form class="" method="get" action="{% url 'all_reviews' %}">
            <input type="text" name="query" value="{{ request.GET.query }}" placeholder="Search">
            <button type="submit" class="btn btn-secondary">Search</button>
        </form>
    </div>
</div>
<div class="container px-4 px-lg-5 mt-5">
    {% for review in review_list %}
    <div class="card mb-3 p-3">
        <div class="row g-0">
            <div class="col-md-4 d-flex flex-column align-items-sm-center align-items-lg-start">
                <p class="card-title fw-bold">Review: <a class="fw-normal text-decoration-underline" href="{% url 'beer_detail' review.beer.id %}">{{ review.beer.name }}</a></p>
                <p class="card-text fw-bold">Author: <a class="fw-normal" href="{% url 'user_reviews' review.author.username %}">{{ review.author }}</a></p>
                <p class="card-text">Created on: {{ review.created_on }}</p>
                <p class="card-text">Last updated: {{ review.updated_on }}</p>
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-title fw-bold">Rating: <span class="fw-normal">{{ review.rating }} / 5</span></p>
                    <p class="card-text fw-bold">Review:</p>
                    <p class="card-text py-3 border-top border-bottom border-dark">{{ review.body | safe}}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}