<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test View</title>
</head>

<body>
    <h1>Beers list</h1>
    {% for beer in object_list %}
        <h2>{{beer.name}}</h2>
        <p>{{beer.tagline}}</p>
        <p>First Brewed: {{beer.first_brewed}}</p>
        <a href="{{beer.image_url}}" alt="an image of the beer"></a>
        <p>Description: {{beer.description}}</p>
        <p>ABV: {{beer.abv}}%</p>
        <p>Food pairings:</p> 
        {%for food in beer.food_pairing%}
           <p>{{food}}</p>
        {% endfor %}
    {% endfor %}
</body>

</html>