{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% url 'account_login' as login_url %}

{% block content %}
<!-- Detailed beer display -->
<div class="row g-0 text-center">
    <div class="col-md-12 d-flex flex-column justify-content-center">
        <h1 class="text-bg-dark p-2">{{beer.name}}</h1>
        <h3 class="p-2">{{beer.tagline}}</h3>
        <h3 class="text-bg-dark p-2">Average Rating: {{beer.avg_rating}}</h3>
    </div>
</div>
<div class="row g-0 text-center">
    <div class="d-none d-md-block col-md-12">
        {% if "placeholder" in beer.beer_image.url %}
        <img src="{% static 'assets/placeholder_beer.webp' %}" alt="A placeholder beer image" class="beer-img mx-auto">
        {% else %}
        <img src="{{beer.beer_image.url}}" alt="An image of {{beer.name}}" class="beer-img mx-auto">
        {% endif %}
    </div>
</div>
<div class="container card text-center mt-2 mb-2">
    <div class="row card-body">
        <h6 class="card-title">First brewed: {{beer.first_brewed}}</h6>
        <h6 class="card-subtitle">ABV: {{beer.abv}}%</h6>
        <hr class="mt-2">
        <article>
            {{ beer.description | safe }}
        </article>
        <hr class="mt-2">
    </div>
    <div class="card mb-3">
        <div class="card-header mb-2 fw-bold">
        Delicious foods to try with this beer:
        </div>
        <ul class="list-group list-group-flush">
            {% for food in beer.food_pairing %}
            <li class="list-group-item">
            {{food}}
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<!-- Reviews -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <strong class="text-secondary">
                <i class="far fa-comments"></i> {{ reviews_count }}
            </strong>
        </div>
    </div>
    <div class="col-12">
        <hr>
    </div>
    <div class="row">
        <div class="col-md-6 card mt-2 mb-2">
            <div class="card-body">
                <h3>Reviews:</h3>
                {% for review in reviews %}
                <div class="text-center p-2 reviews
                {% if not review.is_approved and review.author == user %}
                faded{% elif not review.is_approved %} d-none{% endif %}">
                    <a href="{% url 'user_reviews' review.author.username %}">
                        <span class="fw-bold">{{ review.author }}</span>
                    </a>
                    <span class="badge text-bg-warning">
                        Rating: {{ review.rating }}
                    </span>
                    <p class="font-weight-normal">
                        {{ review.created_on }} wrote:
                    </p>
                    <div id="review{{ review.id }}" class="border border-secondary border-2 rounded mb-2 px-2 py-3">
                        {{ review.body | safe }}
                    </div>
                    {% if not review.is_approved and review.author == user %}
                    <p class="approval">
                        This review is awaiting approval
                    </p>
                {% endif %}
                {% if user.is_authenticated and review.author == user %}
                <button class="btn btn-delete btn-danger" data-review_id="{{ review.id }}">Delete</button>
                <button class="btn btn-edit btn-primary" data-review_id="{{ review.id }}">Edit</button>
                {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-6 card mt-2 mb-2">
            <div class="card-body position-relative">
                {% if user.is_authenticated %}
                <h3>Leave A Review:</h3>
                    {% crispy review_form %}
                    {% csrf_token %}
                {% else %}
                <div class="text-center position-absolute top-50 start-50 translate-middle">
                    Please <a class="fw-bold {% if request.path == login_url %}active{% endif %}" aria-current="page" 
                        href="{% url 'account_login' %}">sign in</a> to leave a review
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete Review?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Are you sure you want to delete your review?
            This action cannot be undone.
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a id="deleteConfirm" href="#" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

{% block extras %}
<script src="{% static 'js/reviewbuttons.js' %}"></script>
{% endblock %}