{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="masthead">
    <div class="container text-center">
        <div class="row g-0">
            <div class="col-md-12 masthead-text">
                <h1>{{beer.name}}</h1>
                <h3>{{beer.tagline}}</h3>
            </div>
        </div>
        <div class="row g-0">
            <div class="d-none d-md-block col-md-12 masthead-image">
              <img src="{{beer.image_url}}" alt="An image of {{beer.name}}" class="beer-img mx-auto">
            </div>
        </div>
    </div>
    <div class="container card text-center">
        <div class="row card-body">
            <h6 class="card-title">First brewed: {{beer.first_brewed}}</h5>
            <h6 class="card-subtitle">ABV: {{beer.abv}}%</h5>
            <hr>
            <article>
                {{ beer.description | safe }}
            </article>
            <hr>
            <div>
                <strong>Delicious foods to try with this beer:</strong>
                <ul class="list-group">
                    {% for food in beer.food_pairing %}
                    <li class="list-group-item">
                    {{food}}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}